/*Спецификации*/



.clearfix:after
{
	content: " ";
	display: table;
	width: 100%;
}
/*------------------------------------------------------------------------*/


@blue: #0082E5;
@dark: #000;
@roboto: 'Roboto', sans-serif;